html, body{
  margin: 0;
  height: 100%;
  overflow: hidden;
}

div{
  width: 50%;
  margin: auto;
  margin-top: 5px;
}

button{
  margin: 1% 50%;
  width: 100px;
}

span {
    font-size: 0.1px;
}

.rightside{
  color: #6b92b6;
}
